* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.main-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  margin-top: 4em;
}

.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  font-style: normal;
  color: #2d3436;
  margin-top: 2em;
}

.bar {
  width: 800px;
  height: 0.5em;
  background: #78e08f;
  margin: 1.25em;
}

/* this is a child of the main-container */
.posts-list {
  list-style-type: none;
  padding: 0.75em;
  justify-content: flex-start;
  align-self: flex-start;
  text-align: left;
}

.post-list-item {
  padding: 0.5em;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1em;
}

.post-date {
  font-size: 0.90em;
}

.post-link {
  font-size: 1.25em;
  text-wrap: wrap; /*TODO get text to wrap if too long*/
  margin-top: 0.6em;
}

a {
  color: #6a89cc; /* default color */
  text-decoration: none; /* remove default underline */
  font-size: 1.1em;
}

a:hover {
  color: #23527c; /* hover color */
  text-decoration: none; /* add custom underline */
}

a:active {
  color: #1565c0; /* active color */
  background-color: #f0f0f0; /* add background color */
}

/* CSS SPECIFIC TO POST PAGES */
.post-container {
  padding: 3em;
  width: 40%;
}

.thin-bar {
  width: 100%;
  height: 0.1em;
  background: #dfe6e9;
  margin-bottom: 1em;
}

.post-title {
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.post-content {
  line-height: 1.5;
  color: #636e80;
}

.home-link {
  padding: 0;
  margin-bottom: 0.2em;
  font-size: 0.9em;
  align-self: flex-end;
}
